<!--
File Created: Wednesday, 23rd January 2019 11:22:59 am
Author:  Charlene Leong (charleneleong84@gmail.com>)
Modified By: 
Last Modified: 
-->

<launch>
    <arg name="rviz" default="true" />
    <arg name="gui" value="true"/>
    

    <!-- Launch simulation in tuning mode -->
    <include file="$(find crane_plus_simulation)/launch/simulation.launch">
        <arg name="tuning" value="true"/>
        <arg name="gui" value="$(arg gui)"/>
    </include>

    <!-- Launch crane_plus in robot execution mode -->
    <include file="$(find crane_plus_moveit_config)/launch/crane_plus.launch">
        <arg name="robot_execution" value="true"/>
        <arg name="rviz" value="$(arg rviz)"/>
        <arg name="tuning" default="true" />
    </include>

</launch>