<launch>
  <!-- benchmark options file -->
  <arg name="params" default="$(find crane_plus_control)/config/parameter_tuning.yaml"/>

  <node name="parameter_tuning" pkg="crane_plus_control" type="parameter_tuning" output="screen" required="true">
    <rosparam command="load" file="$(arg params)"/>
  </node>
</launch>
