<!--
File Created: Wednesday, 16th January 2019 2:26:06 pm
Modified By: 
Last Modified: 
Author: Charlene Leong (charleneleong84@gmail.com)
-->

<launch>
  <!-- By default, will execute for simulation -->
  <arg name="robot_execution" default="false" />
  <arg name="rviz" default="true" /> 
  <arg name="tuning" default="false" />

  <!-- By default, we do not start a database (it can be large) -->
  <arg name="db" default="false" />
  <!-- Allow user to specify database location -->
  <arg name="db_path" default="$(find crane_plus_moveit_config)/default_warehouse_mongo_db" />

  <!-- By default, we are not in debug mode -->
  <arg name="debug" default="false" />

  <!-- Load the URDF, SRDF and other .yaml configuration files on the param server -->
  <include unless="$(arg robot_execution)" file="$(find crane_plus_moveit_config)/launch/planning_context.launch">
    <arg name="load_robot_description" value="true"/>
  </include>

   <!-- We do not have a robot connected, so publish fake joint states -->
  <node  unless="$(arg robot_execution)" name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="/use_gui" value="false"/>
    <rosparam param="/source_list">[/move_group/fake_controller_joint_states]</rosparam>
  </node>

  <!-- Run the main MoveIt executable without trajectory execution (we do not have controllers configured by default) -->
  <include file="$(find crane_plus_moveit_config)/launch/move_group.launch">
    <arg name="allow_trajectory_execution" value="true"/>
    <arg unless="$(arg robot_execution)" name="fake_execution" value="true"/>
    <arg name="info" value="true"/>
    <arg name="debug" value="$(arg debug)"/>
  </include>

  <!-- Run Rviz and load the default config to see the state of the move_group node -->
  <include if="$(arg rviz)" file="$(find crane_plus_moveit_config)/launch/moveit_rviz.launch">
    <arg name="debug" value="$(arg debug)"/>
    <arg name="tuning" value="$(arg tuning)"/>
  </include>
  
  <!-- If database loading was enabled, start mongodb as well -->
  <include file="$(find crane_plus_moveit_config)/launch/default_warehouse_db.launch" if="$(arg db)">
    <arg name="moveit_warehouse_database_path" value="$(arg db_path)"/>
  </include>

  <!-- Publish rviz arg to toggle publisher delay -->
  <node name="launch_base" pkg="crane_plus_moveit_config" type="launch_base.py" respawn_delay="5" >
    <param name="rviz" type="bool" value="$(arg rviz)" />
  </node>

</launch>
